<h2 align="center">Mise à jour d'un article</h2>

Label : <input type="text" [(ngModel)]="label" class="form-control" /> Price
:<input type="text" [(ngModel)]="price" class="form-control" /> Picture :<input
  type="text"
  [(ngModel)]="picture"
  class="form-control"
/>
<div class="form-group">
  <label for="providerId">Choisir un Provider</label>
  <select class="form-control"  [(ngModel)]="provider">
      <option *ngFor="let provider of providers"  value="{{provider.id}}">{{provider.name}} </option>

  </select>

</div>
<button class="btn btn-success" (click)="updateArticle()">Mise à jour</button>
